.banner1{
  background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4) , rgba(0,0,0,0.4)), url('./assets/banner1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.banner2{
  background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4) , rgba(0,0,0,0.4)), url('./assets/banner2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.banner3{
  background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4) , rgba(0,0,0,0.4)), url('./assets/banner3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.carousel-item{
  transition: .4s ease;
}